<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dashboard - SB Admin - ASM2</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/asm2/libs/bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/asm2/libs/bootstrap/css/asm.css">
</head>

<body class="sb-nav-fixed">
    <!-- header -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary" style="height: 70px;">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3">
            <i class="fas fa-check-circle checkmark-icon"></i>
            <span class="fw-lighter">Let</span><span class="fw-medium fs-4">Start</span>
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <div class="search-container">
            <input type="text" class="btn btn-light btn-sm search-input" placeholder="Search something special">
            <i class="fas fa-search search-icon"></i>
        </div>

        <!-- Account -->
        <ul class="navbar-nav d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fa-regular fa-envelope"></i> <i class="fas fa-bell"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- endheader -->


    <div id="layoutSidenav">
        <!-- leftmenu -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading text-primary">Navigation</div>
                        <a class="nav-link text-dark" href="/asm2/index.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <!--  -->
                        <div class="sb-sidenav-menu-heading text-primary">Components</div>
                        <!-- Category -->
                        <a class="nav-link collapsed text-dark" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseCate" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Category
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>

                        <div class="collapse" id="collapseCate" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link text-dark" href="#!/cat/listCat">List categories</a>
                                <a class="nav-link text-dark" href="#!/cat/addCat">Add categories</a>
                            </nav>
                        </div>

                        <!-- Product -->
                        <a class="nav-link collapsed text-dark" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseProduct" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Product
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>

                        <div class="collapse" id="collapseProduct" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link text-dark" href="#!/pro/listPro">List product</a>
                                <a class="nav-link text-dark" href="#!/pro/addPro">Add product</a>
                            </nav>
                        </div>
                    </div>
            </nav>
        </div>
        <!-- endleftmenu -->
        <!-- Right menu -->
        <div id="layoutSidenav_content">
            <div class="container-fluid mt-4 px-4">
                <h1 class="mt-4">Add product</h1>
                <form enctype="multipart/form-data" >
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" ng-model="inputValue.name">
                        <span ng-show="kiemTraDuLieu.name == true" style="color: red">PLEASE TYPE NAME</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" placeholder="Leave a description product here"
                            style="height: 100px" ng-model="inputValue.description"></textarea>
                            <span ng-show="kiemTraDuLieu.description == true" style="color: red">PLEASE TYPE DESCRIPTION</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" class="form-control" ng-model="inputValue.price">
                        <span ng-show="kiemTraDuLieu.price == true" style="color: red">PLEASE TYPE PRICE</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category:</label>
                        <select ng-model="inputValue.cat" class="form-select" required>
                            <option value="" selected>PLEASE CHOOSE CAT</option>
                            <option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name_cat }}
                            </option>
                            <!-- <option value="2">SHOES</option> -->
                          </select>
                          <span ng-show="kiemTraDuLieu.cat == true" style="color: red">PLEASE TYPE CAT</span>
                    </div>

                    <!-- <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="file" class="form-control" ng-model="inputValue.image">
                        <span ng-show="kiemTraDuLieu.image == true" style="color: red">PLEASE TYPE IMAGE</span>
                    </div> -->

                    <button ng-click="onSubmitProForm()" class="btn btn-primary">
                        ADD
                    </button>
                    <a href="#!/pro/listPro">
                        <input type="button" class="btn btn-primary" value="LIST_PRO">
                    </a>
                </form>
            </div>
            <!-- endrightmenu -->
            <!-- Footer -->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- endfooter -->
        </div>
    </div>
    <!-- Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/asm2/libs/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="/asm2/libs/js/datatables-simple-demo.js"></script>
</body>

</html>